/History/Buck_Converter.~(13).SchDoc.Zip
/History/Buck_Converter.~(14).SchDoc.Zip
/History/Buck_Converter.~(15).SchDoc.Zip
/History/Buck_Converter.~(16).SchDoc.Zip
/History/Buck_Converter.~(17).SchDoc.Zip
/History/Buck_Converter.~(18).SchDoc.Zip
/History/Buck_Converter.~(19).SchDoc.Zip
/History/Buck_Converter.~(20).SchDoc.Zip
/History/Buck_Converter.~(21).SchDoc.Zip
/History/Buck_Converter.~(22).SchDoc.Zip
/History/Buck_Converter.~(23).SchDoc.Zip
/History/Buck_Converter.~(24).SchDoc.Zip
/History/Buck_Converter.~(25).SchDoc.Zip
/History/Buck_Converter.~(26).SchDoc.Zip
/History/Buck_Converter.~(27).SchDoc.Zip
/History/Buck_Converter.~(28).SchDoc.Zip
/History/Buck_Converter.~(29).SchDoc.Zip
/History/Buck_Converter.~(30).SchDoc.Zip
/History/Buck_Converter.~(31).SchDoc.Zip
/History/Buck_Converter.~(32).SchDoc.Zip
/History/Electric Car Project.~(2).PrjPcb.Zip
/History/Electric Car Project.~(3).PrjPcb.Zip
/History/Electric Car Project.~(4).PrjPcb.Zip
/History/Electric Car Project.~(5).PrjPcb.Zip
/History/Electric Car Project.~(6).PrjPcb.Zip
/History/Electric Car Project.~(7).PrjPcb.Zip
/History/Electric Car Project.~(8).PrjPcb.Zip
/History/HB_Drive.~(12).SchDoc.Zip
/History/HB_Drive.~(13).SchDoc.Zip
/History/HB_Drive.~(14).SchDoc.Zip
/History/HB_Drive.~(15).SchDoc.Zip
/History/HB_Drive.~(16).SchDoc.Zip
/History/HB_Driver.~(10).SchLib.Zip
/History/HB_Driver.~(11).SchLib.Zip
/History/HB_Driver.~(12).SchLib.Zip
/History/HB_Driver.~(13).SchLib.Zip
/History/HB_Driver.~(14).SchLib.Zip
/History/HB_Driver.~(15).SchLib.Zip
/History/HB_Driver.~(16).SchLib.Zip
/History/HB_Driver.~(4).PcbLib.Zip
/History/HB_Driver.~(5).PcbLib.Zip
/History/HB_Driver.~(8).SchLib.Zip
/History/HB_Driver.~(9).SchLib.Zip
/History/Job1.~(1).OutJob.Zip
/History/Job1.~(2).OutJob.Zip
/History/MCU.~(11).SchDoc.Zip
/History/MCU.~(12).SchDoc.Zip
/History/MCU.~(13).SchDoc.Zip
/History/MCU.~(14).SchDoc.Zip
/History/MCU.~(15).SchDoc.Zip
/History/MCU.~(16).SchDoc.Zip
/History/MCU.~(6).SchDoc.Zip
/History/MCU.~(7).SchDoc.Zip
/History/MCU.~(8).SchDoc.Zip
/History/MCU.~(9).SchDoc.Zip
/History/PCB1.~(10).PcbDoc.Zip
/History/PCB1.~(11).PcbDoc.Zip
/History/PCB1.~(12).PcbDoc.Zip
/History/PCB1.~(13).PcbDoc.Zip
/History/PCB1.~(14).PcbDoc.Zip
/History/PCB1.~(15).PcbDoc.Zip
/History/PCB1.~(16).PcbDoc.Zip
/History/PCB1.~(17).PcbDoc.Zip
/History/PCB1.~(18).PcbDoc.Zip
/History/PCB1.~(19).PcbDoc.Zip
/History/PCB1.~(2).PcbDoc.Zip
/History/PCB1.~(20).PcbDoc.Zip
/History/PCB1.~(21).PcbDoc.Zip
/History/PCB1.~(22).PcbDoc.Zip
/History/PCB1.~(23).PcbDoc.Zip
/History/PCB1.~(24).PcbDoc.Zip
/History/PCB1.~(25).PcbDoc.Zip
/History/PCB1.~(26).PcbDoc.Zip
/History/PCB1.~(27).PcbDoc.Zip
/History/PCB1.~(28).PcbDoc.Zip
/History/PCB1.~(29).PcbDoc.Zip
/History/PCB1.~(3).PcbDoc.Zip
/History/PCB1.~(30).PcbDoc.Zip
/History/PCB1.~(31).PcbDoc.Zip
/History/PCB1.~(32).PcbDoc.Zip
/History/PCB1.~(33).PcbDoc.Zip
/History/PCB1.~(34).PcbDoc.Zip
/History/PCB1.~(35).PcbDoc.Zip
/History/PCB1.~(36).PcbDoc.Zip
/History/PCB1.~(37).PcbDoc.Zip
/History/PCB1.~(38).PcbDoc.Zip
/History/PCB1.~(39).PcbDoc.Zip
/History/PCB1.~(4).PcbDoc.Zip
/History/PCB1.~(40).PcbDoc.Zip
/History/PCB1.~(41).PcbDoc.Zip
/History/PCB1.~(42).PcbDoc.Zip
/History/PCB1.~(43).PcbDoc.Zip
/History/PCB1.~(44).PcbDoc.Zip
/History/PCB1.~(45).PcbDoc.Zip
/History/PCB1.~(46).PcbDoc.Zip
/History/PCB1.~(47).PcbDoc.Zip
/History/PCB1.~(48).PcbDoc.Zip
/History/PCB1.~(49).PcbDoc.Zip
/History/PCB1.~(5).PcbDoc.Zip
/History/PCB1.~(50).PcbDoc.Zip
/History/PCB1.~(51).PcbDoc.Zip
/History/PCB1.~(52).PcbDoc.Zip
/History/PCB1.~(53).PcbDoc.Zip
/History/PCB1.~(54).PcbDoc.Zip
/History/PCB1.~(55).PcbDoc.Zip
/History/PCB1.~(56).PcbDoc.Zip
/History/PCB1.~(57).PcbDoc.Zip
/History/PCB1.~(58).PcbDoc.Zip
/History/PCB1.~(59).PcbDoc.Zip
/History/PCB1.~(6).PcbDoc.Zip
/History/PCB1.~(60).PcbDoc.Zip
/History/PCB1.~(61).PcbDoc.Zip
/History/PCB1.~(62).PcbDoc.Zip
/History/PCB1.~(63).PcbDoc.Zip
/History/PCB1.~(64).PcbDoc.Zip
/History/PCB1.~(65).PcbDoc.Zip
/History/PCB1.~(66).PcbDoc.Zip
/History/PCB1.~(67).PcbDoc.Zip
/History/PCB1.~(68).PcbDoc.Zip
/History/PCB1.~(69).PcbDoc.Zip
/History/PCB1.~(7).PcbDoc.Zip
/History/PCB1.~(70).PcbDoc.Zip
/History/PCB1.~(8).PcbDoc.Zip
/History/PCB1.~(9).PcbDoc.Zip
/History/Summer_Studio.~(1).PcbLib.Zip
/History/Summer_Studio.~(2).PcbLib.Zip
/History/Telemetry_MCU.~(16).SchDoc.Zip
/History/Telemetry_MCU.~(17).SchDoc.Zip
/History/Telemetry_MCU.~(18).SchDoc.Zip
/History/Telemetry_MCU.~(19).SchDoc.Zip
/History/Telemetry_MCU.~(20).SchDoc.Zip
/History/Telemetry_MCU.~(21).SchDoc.Zip
/History/Telemetry_MCU.~(22).SchDoc.Zip
/History/Telemetry_MCU.~(23).SchDoc.Zip
/History/Top_Level.~(10).SchDoc.Zip
/History/Top_Level.~(11).SchDoc.Zip
/MT8 - Please Order Stencil we have lots of SMD.zip
/Project Logs for Electric Car Project/Buck_Converter SCH ECO 6-04-2022 2-56-37 PM.LOG
/Project Logs for Electric Car Project/Buck_Converter SCH ECO 6-04-2022 3-09-22 PM.LOG
/Project Logs for Electric Car Project/Buck_Converter SCH ECO 6-04-2022 3-49-54 PM.LOG
/Project Logs for Electric Car Project/Buck_Converter SCH ECO 6-04-2022 5-23-32 PM.LOG
/Project Logs for Electric Car Project/Buck_Converter SCH ECO 8-04-2022 12-00-08 PM.LOG
/Project Logs for Electric Car Project/Buck_Converter SCH ECO 9-04-2022 12-22-17 PM.LOG
/Project Logs for Electric Car Project/MCU SCH ECO 6-04-2022 4-40-45 PM.LOG
/Project Logs for Electric Car Project/MCU SCH ECO 9-04-2022 3-27-37 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 6-04-2022 2-52-05 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 6-04-2022 2-56-55 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 6-04-2022 3-30-33 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 6-04-2022 3-51-37 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 6-04-2022 4-41-19 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 8-04-2022 11-21-50 AM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 8-04-2022 11-58-31 AM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 8-04-2022 12-00-28 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 8-04-2022 12-03-10 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 8-04-2022 12-03-33 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 8-04-2022 12-48-38 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 8-04-2022 12-50-04 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 8-04-2022 9-40-52 AM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 8-04-2022 9-57-13 AM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 9-04-2022 12-23-01 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 9-04-2022 12-29-08 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 9-04-2022 12-31-46 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 9-04-2022 3-47-41 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 9-04-2022 3-50-40 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 9-04-2022 3-51-14 PM.LOG
/Project Logs for Electric Car Project/PCB1 PCB ECO 9-04-2022 5-05-06 PM.LOG
/Project Logs for Electric Car Project/Top_Level SCH ECO 6-04-2022 3-51-04 PM.LOG
/Project Logs for Electric Car Project/Top_Level SCH ECO 9-04-2022 12-07-24 PM.LOG
/Project Outputs for Electric Car Project/BOM/Bill of Materials-Electric Car Project.xlsx
/Project Outputs for Electric Car Project/BOM/Electric Car Project.xlsx
/Project Outputs for Electric Car Project/Gerber/PCB1-macro.APR_LIB
/Project Outputs for Electric Car Project/Gerber/PCB1.EXTREP
/Project Outputs for Electric Car Project/Gerber/PCB1.GBL
/Project Outputs for Electric Car Project/Gerber/PCB1.GBO
/Project Outputs for Electric Car Project/Gerber/PCB1.GBP
/Project Outputs for Electric Car Project/Gerber/PCB1.GBS
/Project Outputs for Electric Car Project/Gerber/PCB1.GKO
/Project Outputs for Electric Car Project/Gerber/PCB1.GM1
/Project Outputs for Electric Car Project/Gerber/PCB1.GPB
/Project Outputs for Electric Car Project/Gerber/PCB1.GPT
/Project Outputs for Electric Car Project/Gerber/PCB1.GTL
/Project Outputs for Electric Car Project/Gerber/PCB1.GTO
/Project Outputs for Electric Car Project/Gerber/PCB1.GTP
/Project Outputs for Electric Car Project/Gerber/PCB1.GTS
/Project Outputs for Electric Car Project/Gerber/PCB1.REP
/Project Outputs for Electric Car Project/Gerber/PCB1.RUL
/Project Outputs for Electric Car Project/Gerber/PCB1.apr
/Project Outputs for Electric Car Project/Gerbers.zip
/Project Outputs for Electric Car Project/Job1.PDF
/Project Outputs for Electric Car Project/NC Drill/PCB1-RoundHoles.TXT
/Project Outputs for Electric Car Project/NC Drill/PCB1-SlotHoles.TXT
/Project Outputs for Electric Car Project/NC Drill/PCB1.DRR
/Project Outputs for Electric Car Project/NC Drill/PCB1.LDP
/Project Outputs for Electric Car Project/Status Report.Txt
/Project Outputs for Free Documents/Gerber/PCB1-DESKTOP-MQP4AVS.EXTREP
/Project Outputs for Free Documents/Gerber/PCB1-DESKTOP-MQP4AVS.REP
/Project Outputs for Free Documents/Gerber/PCB1-DESKTOP-MQP4AVS.RUL
/Project Outputs for Free Documents/Gerber/PCB1-DESKTOP-MQP4AVS.apr
/Project Outputs for Free Documents/Gerber/PCB1-macro-DESKTOP-MQP4AVS.APR_LIB
/Project Outputs for Free Documents/Gerber/PCB1-macro.APR_LIB
/Project Outputs for Free Documents/Gerber/PCB1.apr
/Project Outputs for Free Documents/NC Drill/PCB1-DESKTOP-MQP4AVS.DRR
/Project Outputs for Free Documents/NC Drill/PCB1-DESKTOP-MQP4AVS.LDP
/Project Outputs for Free Documents/NC Drill/PCB1-RoundHoles-DESKTOP-MQP4AVS.TXT
/Project Outputs for Free Documents/NC Drill/PCB1-SlotHoles-DESKTOP-MQP4AVS.TXT
/Project Outputs for Free Documents/Status Report-DESKTOP-MQP4AVS.Txt
/Project Outputs for Free Documents/Status Report.Txt
/__Previews/Buck_Converter.SchDocPreview
/__Previews/HB_Drive.SchDocPreview
/__Previews/MCU.SchDocPreview
/__Previews/Telemetry_MCU.SchDocPreview
/__Previews/Top_Level.SchDocPreview
/__Previews/UART.SchDocPreview
